@charset "UTF-8";


@media screen and (max-width:768px) {
    

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
}

body {
    background-color: rgb(65, 64, 64);
    height: 100vh;
    overflow-y: hidden;
}

header#port {
    width:100%;
    text-align: center;
    padding: 20px 0px;
}

header#port > h1 { 
    margin-bottom: 25px;
    text-decoration: none;
}

header#port > h1 > a {
    text-decoration: none;
}

i#burger{
    background-color: rgb(47, 47, 47);
    display: block;
    text-align: center;
    color: white;
    padding: 10px;
    cursor: pointer;
}

i#burger:hover{
    background-color: white;
    color: black;
}

menu{
    display: none;
}

menu a{
    display:block;
    text-align: center;
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 10px;
    text-decoration: none;
    border-top: 2px solid rgb(160, 160, 160);
}

menu a:hover{
    background-color:grey ;
}

section#port { 
    text-align: center;
}



section#port > .principal > .imagem-perfil {
    height: 250px;
    width: 250px;
    border-radius: 50%;
    margin: 30px 0 ;
    margin-top: 50px;
}

section#port > .principal > .text > .tit > h1 { 
    font-size: 23pt;
    margin-bottom: 5px;
}

section#port > .principal > .text > .subt > h1 { 
    font-size: 15pt;
}

section#port > .principal > .text > .par > p {
    margin-top: 20px;
    margin-bottom: 40px;
    font-size: 10pt;
}

section#port > .principal > .text > .link > a {
    background-color: rgb(0, 76, 255);
    padding: 1.5% 25%;
    font-size: 14pt;
    border-radius: 20px;
    text-decoration: none;
}

section#port > .principal > .text > .link > a:hover {
    background-color: rgb(9, 50, 145);
}
}











































@media screen and (min-width:768px) and (max-width: 1150px) {
    body {
        background-color: rgb(65, 64, 64);
        font-family: Arial, Helvetica, sans-serif;
        overflow-y: hidden;
    }
    
header#port{
    margin-bottom: 10vh;
}

   header#port > h1 {
    width: 200px;
    text-align: center;
   }

   header#port > h1 > a {
    text-decoration: none;
    color: #fff;
    font-size: 20pt;
   }

   header#port > menu#itens {
    width: calc(100vw - 345px);
    margin-left: 280px;
    text-align: right;
    transform: translateY(-9vh);
   }

   header#port > menu#itens > ul > li {
    display: inline-block;
    padding: 10px;
    margin-left: 10px;
    padding-left: 30px;
    text-align: center;
    margin-left: 0px;
    padding-right: 0px;
    margin-right: 50px;
}

   header#port > menu#itens > ul > li > a {
    text-decoration: none;
    font-size: 13pt;
    color: #fff;
   }


   header#port > menu#itens > ul > li > a:hover {
    text-decoration: underline;
   }

   section#port > .principal > .imagem-perfil {
    height: 330px;
    width: 330px;
    border-radius: 50%;
    margin: 30px 0 ;
    margin-top: 10px;
    margin-left: 40px;
}
   section#port > .principal > .text {
    width: 350px;
    color: #fff;
    text-align: left;
    margin-left: 52vw;
    transform: translateY(-40vh)
   }

   section#port > .principal > .text > .tit > h1 {
    font-size: 27pt;
    margin-bottom: -15px;
   }

   section#port > .principal > .text > .subt > h1 {
    font-size: 17pt;
   }

   section#port > .principal > .text > .par > p {
    font-size: 12pt;

   }

   i#burger {
    display: none;
   }

   section#port > .principal > .text > .link {
    margin-left: 50px;
   }
   section#port > .principal > .text > .link > a {
    background-color: rgb(0, 76, 255);
    color: #fff;
    padding: 1.5% 25%;
    font-size: 14pt;
    border-radius: 20px;
    text-decoration: none;
}


section#port > .principal > .text > .link > a:hover {
    background-color: rgb(9, 50, 145);
}
}






































@media screen and (min-width:1150px) {
    body {
        background-color: rgb(65, 64, 64);
        font-family: Arial, Helvetica, sans-serif;
        overflow-y: hidden;
    }
    
   header#port > h1 {
    width: 200px;
    text-align: center;
   }

   header#port > h1 > a {
    text-decoration: none;
    color: #fff;
    font-size: 25pt;
   }

   header#port > .itens {
    padding-left: 0;
    margin-left: 201px;
    text-align: right;
    transform: translateY(-59px);
   }

   header#port > menu#itens {
    width: calc(100vw - 350px);
    font-size: 14pt;
    margin-left: 240px;
    text-align: right;
    transform: translateY(-8vh);
   }

   header#port > menu#itens > ul > li {
    display: inline-block;
    padding: 10px;
    margin-left: 10px;
    padding-left: 30px;
    text-align: center;
    margin-left: 0px;
    padding-right: 0px;
    margin-right: 50px;
}

   header#port > menu#itens > ul > li > a {
    text-decoration: none;
    font-size: 13pt;
    color: #fff;
   }


   header#port > menu#itens > ul > li > a:hover {
    text-decoration: underline;
   }

   section#port > .principal > .imagem-perfil {
    height: 520px;
    width: 520px;
    border-radius: 50%;
    margin: 30px 0 ;
    margin-top: 10px;
    margin-left: 100px;
}
   section#port > .principal > .text {
    width: 500px;
    color: #fff;
    text-align: left;
    margin-left: 58vw;
    transform: translateY(-60vh)
   }

   section#port > .principal > .text > .tit > h1 {
    font-size: 35pt;
    margin-bottom: -15px;
   }

   section#port > .principal > .text > .subt > h1 {
    font-size: 20pt;
   }

   section#port > .principal > .text > .par > p {
    font-size: 13pt;
   }

   i#burger { 
    display: none;
   }

   section#port > .principal > .text > .link {
    margin-left: 50px;
   }

   section#port > .principal > .text > .link > a {
    background-color: rgb(0, 76, 255);
    color: #fff;
    padding: 1.5% 25%;
    font-size: 14pt;
    border-radius: 20px;
    text-decoration: none;
}


section#port > .principal > .text > .link > a:hover {
    background-color: rgb(9, 50, 145);
}
}
